<!-- ---
layout: post
--- -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài tập lập trình 1</title>
    <link rel="stylesheet" href="https://ducduongn.github.io/MyStaticWeb/assets/css/assignment.css">

</head>

<body>
    <div class="paragraph">
        <h1>Chapter 1</h1>

        <h2>Section 1</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero facere nisi labore, aliquam deleniti, soluta
            quae odio consequatur amet autem sit porro accusamus minima. Totam fugiat praesentium dolorum aperiam
            quibusdam.</p>
    </div>

    <div class="form">
        <div class="number_form">
            Age: <input type="number" value="10">
        </div>
        <br>

        <div class="text_form">
            Full name: <input type="text" value="Type your name">
        </div>
        <br>

        <div class="checkbox">
            Already have an account ? <input type="checkbox">
        </div>

        <br>

        <div class="password">
            Password: <input type="password">
        </div>

        <br>
        <div class="submit">
            <input type="button" value="Submit">
        </div>

    </div>
    <br>
    <div class="image" style="">
        <img src="https://ducduongn.github.io/MyStaticWeb/assets/images/Mypicture.JPG" width="575" height="600">
    </div>

    <br>
    <hr>
    <br>

    <table style="width: 70%; margin-left: auto; margin-right: auto;">
        <tr>
            <th>Seq</th>
            <th>Color</th>
            <th>Color #code</th>
            <th>RGB</th>
            <th class="example">Color Example</th>
        </tr>

        <tr>
            <td>1</td>
            <td>INDIANRED</td>
            <td>#CD5C5C</td>
            <td>RGB(205, 92, 92)</td>
            <td class ="example" style="background-color:#CD5C5C;"></td>
        </tr>

        <tr>
            <td>2</td>
            <td>LIGHTCORAL</td>
            <td>#F08080</td>
            <td>RGB(240, 128, 128)</td>
            <td class ="example" style="background-color:#F08080;"></td>
        </tr>

        <tr>
            <td>3</td>
            <td>CRIMSON</td>
            <td>#DC143C</td>
            <td>RGB(220, 20, 60)</td>
            <td class ="example" style="background-color:#DC143C;"></td>
        </tr>


        <tr>
            <td>4</td>
            <td>RED</td>
            <td>#FF0000</td>
            <td>RGB(255, 0, 0)</td>
            <td class ="example" style="background-color:#FF0000;"></td>
        </tr>

        <tr>
            <td>5</td>
            <td>FIREBRICK</td>
            <td>#B22222</td>
            <td>RGB(178, 34, 34)</td>
            <td class ="example" style="background-color:#B22222;"></td>
        </tr>

        <tr>
            <td>6</td>
            <td>DARKRED</td>
            <td>#8B0000</td>
            <td>RGB(139, 0, 0)</td>
            <td class ="example" style="background-color:#8B0000;"></td>
        </tr>

        <tr>
            <td>7</td>
            <td>PINK</td>
            <td>#FFC0CB</td>
            <td>RGB(255, 192, 203)</td>
            <td class ="example" style="background-color:#FFC0CB;"></td>
        </tr>

        <tr>
            <td>8</td>
            <td>PALEVIOLETRED</td>
            <td>#DB7093</td>
            <td>RGB(219, 112, 147)</td>
            <td class ="example" style="background-color:#DB7093;"></td>
        </tr>

        <tr>
            <td>9</td>
            <td>ORANGE</td>
            <td>#FFA500</td>
            <td>RGB(255, 165, 0)</td>
            <td class ="example" style="background-color:#FFA500;"></td>
        </tr>

        <tr>
            <td>10</td>
            <td>ORANGERED</td>
            <td>#FF4500</td>
            <td>RGB(255, 69, 0)</td>
            <td class ="example" style="background-color:#FF4500;"></td>
        </tr>

        <tr>
            <td>11</td>
            <td>GOLD</td>
            <td>#FFD700</td>
            <td>RGB(255, 215, 0)</td>
            <td class ="example" style="background-color:#FFD700;"></td>
        </tr>

        <tr>
            <td>12</td>
            <td>LIGHTYELLOW</td>
            <td>#FFFFE0</td>
            <td>RGB(255, 255, 224)</td>
            <td class ="example" style="background-color:#FFFFE0;"></td>
        </tr>

        <tr>
            <td>13</td>
            <td>MOCCASIN</td>
            <td>#FFE4B5</td>
            <td>RGB(255, 228, 181)</td>
            <td class ="example" style="background-color:#FFE4B5;"></td>
        </tr>

        <tr>
            <td>14</td>
            <td>VIOLET</td>
            <td>#EE82EE</td>
            <td>RGB(238, 130, 238)</td>
            <td class ="example" style="background-color:#EE82EE;"></td>
        </tr>

        <tr>
            <td>15</td>
            <td>BLUEVIOLET</td>
            <td>#8A2BE2</td>
            <td>RGB(138, 43, 226)</td>
            <td class ="example" style="background-color:#8A2BE2;"></td>
        </tr>

        <tr>
            <td>16</td>
            <td>PURPLE</td>
            <td>#800080</td>
            <td>RGB(128, 0, 128)</td>
            <td class ="example" style="background-color:#800080;"></td>
        </tr>

        <tr>
            <td>17</td>
            <td>GREENYELLOW</td>
            <td>#ADFF2F</td>
            <td>RGB(173, 255, 47)</td>
            <td class ="example" style="background-color:#ADFF2F;"></td>
        </tr>
    </table>



</body>

</html>