<!-- ---
layout: post
--- -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài tập lập trình 1</title>
    <link rel="stylesheet" href="https://ducduongn.github.io/MyStaticWeb/assets/css/assignment.css">

</head>

<body>
    <div class="paragraph">
        <h1>Chapter 1</h1>

        <h2>Section 1</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero facere nisi labore, aliquam deleniti, soluta
            quae odio consequatur amet autem sit porro accusamus minima. Totam fugiat praesentium dolorum aperiam
            quibusdam.</p>
    </div>

    <div class="form">
        <div class="number_form">
            Age: <input type="number" value="10">
        </div>
        <br>

        <div class="text_form">
            Full name: <input type="text" value="Type your name">
        </div>
        <br>

        <div class="checkbox">
            Already have an account ? <input type="checkbox">
        </div>

        <br>

        <div class="password">
            Password: <input type="password">
        </div>

        <br>
        <div class="submit">
            <input type="button" value="Submit">
        </div>

    </div>
    <br>
    <div class="image" style="">
        <img src="https://ducduongn.github.io/MyStaticWeb/assets/images/Mypicture.JPG" width="575" height="600">
    </div>

    <div class="table" style="width:100%;">
        <tr>
            <th>Color</th>
            <th>Color code</th>
            <th>rbg</th>
        </tr>

        <tr>
            <td>Color</td>
            <td>Color code</td>
            <td>rbg</td>
        </tr>
        
    </div>

    {{content}}
</body>

</html>